/* Reset margin/padding and set the font size */
:root {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

/* Create a grid container for the form with three columns */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 500px;
    margin: 9rem auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

/* Style for the left column */
.left-column, .middle-column, .right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Style for the labels and input fields */
label, input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style for the input buttons */
input[type="button"], #hidden {
    background-color: #4c00ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px; /* Add padding to the buttons */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

/* Changed background color on hover for input buttons */
input[type="button"]:hover {
    background-color: #4200b3;
}

#hidden {
    visibility: hidden;
}

/* Style for the labels */
label {
    font-size: 20px; /* Set a fixed font size for both labels */
    height: 40px; /* Set a fixed height for both labels */
    display: flex;
    justify-content: center;
    align-items: center;
}

#idCelsius, #idFahrenheit{
    border: none;
    text-align: center;
}

